html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

body { 
  padding: 2.5rem;
  margin: 0;
  letter-spacing: 0.1rem;

}

h1, h2 { color: #73725f; font-weight: 600;}
h1 {font-size: 2.1rem; margin: 0 0 2.5rem 0;}

ul { 
  margin: 0;
  list-style-type: none;
}
.text-right {text-align: right;}
.push-right { float:right;}
.push-left { float:left;}

a { 
  text-decoration: none;
  color: #fff;
}
a:hover { 
  color: #fff; 
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.button { 
  background: none;
  border: 2px solid #73725f;
  clear: both;
  color: #73725f;
  display: inline-block; 
  font-size: 1.1rem;
  font-family: 'Fira Mono', sans-serif;
  padding: 0.8rem 2rem;
  letter-spacing: 0.4rem;
}
.button:hover {
  color: #BBD1D7;
  background: #73725f;
  border: 2px solid #73725f;
}

p { margin: 0;}

.container {
  background: #BBD1D7;
  padding: 3.5rem;
}

/* Navigation bar styles */
.navbar { 
  color: #73725f; 
  font-family: 'Fira Mono', sans-serif;
  overflow: auto;
  margin-bottom: 2em; 
  letter-spacing: 0.20em;
}
.navbar .logo { float: left;}
.navbar nav {
  display: block;
  float: right;
}
.navbar nav li { 
  float:left;
  margin-left: 1.5em;
  line-height: 1.7rem;
}
nav a {color: #73725f;}
nav a:hover {
  color: #73725f;
  border-bottom: 2px solid #73725f;
}

/* Sections */
.box-right {float:right; margin-right: 3.5rem;}
.box-left {float:left; margin-left: 3.5rem}
section p { color: #fff; font-size: 1.8em; }
section article { 
  width: 70%; 
  clear: both;
  margin-bottom: 6rem;
}
section article:last-child {
  margin-top: -3rem;
}
section {
  margin: 5.5rem 0;
  clear: both;
}
section h2 { 
  font-size: 3rem;
  margin: 0.8rem 0 0 -3.5rem;
}
article.project { 
  border-top: 4px solid #fff; 
  height: 33rem;
  box-sizing: border-box;
}
h2.right {text-align: right; margin-right: -3.5rem;}

/* Section background */
article.project1 { background: url(../images/450x600.jpg) no-repeat 0 3rem;}
article.project2 { background: url(../images/750x600.jpg) no-repeat right 3rem;}

/* Article content */
section aside { width: 45%;}
article .title-right { margin-right: -3.5rem; text-align: right;}
aside { 
  font-family: 'Fira Mono', sans-serif;
  color: #fff;
  box-sizing: border-box;
  height: 27rem;
  letter-spacing: 0.15rem;
  display: flex;
  flex-direction: column;
}
aside ul { padding: 0; line-height: 1.5rem;}
aside ul.tags { 
  font-size: 0.9rem;
  flex-grow: 1;
  margin-top: -1.5rem;
}
aside ul.description {
  font-size: 1.1rem;
}
aside .view { 
  font-size: 1.1rem;
  margin-top: 1rem;
  border-bottom: 2px solid #fff;
  padding-top: 5px;
}
aside .view img {
  display: inline-block;
}
aside a.view:hover { 
  color: #73725f; 
  text-decoration: none;
  border-bottom: 2px solid #73725f;
}
aside a.view-left{
  background: url(../images/view.png) no-repeat right center;
}
aside a.view-right {
  background: url(../images/view.png) no-repeat left center;
  text-align: right;
}
aside a.view-left:hover {
  background: url(../images/view_hover.png) no-repeat right center;
}
aside a.view-right:hover {
  background: url(../images/view_hover.png) no-repeat left center;
}

/* Buttons */
section .button-container {
  width: 70%;
}
