html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

body { 
  padding: 2.5rem;
  margin: 0;
  letter-spacing: 0.1rem;

}

h1, h2 { color: #73725f; font-weight: 600;}
h1 {font-size: 2.1rem; margin: 0 0 2.5rem 0;}

ul { 
  margin: 0;
  list-style-type: none;
}
.text-right {text-align: right;}
.push-right { float:right;}
.push-left { float:left;}
.green { color: #73725f; }

a { 
  text-decoration: none;
  color: #fff;
}
a:hover { 
  color: #fff; 
  text-decoration: underline;
}

/* Buttons */
.button-container {
  margin-top: 3rem;
  width: 70%;
}
.button { 
  background: none;
  border: 2px solid #73725f;
  clear: both;
  color: #73725f;
  display: inline-block; 
  font-size: 1.1rem;
  font-family: 'Fira Mono', sans-serif;
  padding: 0.8rem 2rem;
  letter-spacing: 0.4rem;
}
.button:hover {
  color: #bbd1d7;
  background: #73725f;
  text-decoration: none;
}

p { margin: 0;}

.container {
  padding: 7.5rem;
}
.container-blue {
  background: #bbd1d7;
}

/* Navigation bar styles */
.navbar { 
  color: #73725f; 
  font-family: 'Fira Mono', sans-serif;
  overflow: auto;
  margin-bottom: 2em; 
  letter-spacing: 0.20em;
}
.navbar .logo { float: left;}
.navbar nav {
  display: block;
  float: right;
}
nav li { 
  display: inline-block;
  box-sizing: border-box;
  float:left;
  margin-left: 1.5em;
  border-bottom: 2px solid #bbd1d7;
}
nav li:hover {
  border-bottom: 2px solid #73725f;
}
nav a {
  color: #73725f;
}
nav a:hover {
  color: #73725f;
  text-decoration: none;
  overflow: hidden;
}

/* Sections */

section p { color: #fff; font-size: 1.8em; width: 70%; }
section {
  margin: 5.5rem 0;
  clear: both;
}
section:after {
  display:block;
  content: ' ';
  clear: both;
}
section h2 { 
  font-size: 3rem;
  margin: 0.8rem 0 0 -3.5rem;
}
section article.project { 
  width: 70%; 
  clear: both;
  border-top: 4px solid #fff; 
  height: 33rem;
  box-sizing: border-box;
  margin-bottom: 6rem;
}
h2.right {text-align: right; margin-right: -3.5rem;}

/* Section background */
article.project1 { background: url(../images/450x600.jpg) no-repeat 0 3rem;}
article.project2 { background: url(../images/750x600.jpg) no-repeat right 3rem;}

/* Article content */
section aside { width: 45%;}
article .title-right { margin-right: -3.5rem; text-align: right;}
article.project aside { 
  font-family: 'Fira Mono', sans-serif;
  color: #fff;
  box-sizing: border-box;
  height: 27rem;
  letter-spacing: 0.15rem;
  display: flex;
  flex-direction: column;
}
aside ul { padding: 0; line-height: 1.5rem;}
aside ul.tags { 
  font-size: 0.9rem;
  flex-grow: 1;
  margin-top: -1.5rem;
}
aside ul.description {
  font-size: 1.1rem;
}
aside .view { 
  font-size: 1.1rem;
  margin-top: 1rem;
  border-bottom: 2px solid #fff;
  padding-top: 5px;
}
aside .view img {
  display: inline-block;
}
aside a.view:hover { 
  color: #73725f; 
  text-decoration: none;
  border-bottom: 2px solid #73725f;
}
.box-right {float:right; margin-right: 3.5rem;}
.box-right h2 { margin-right: -3.5rem; text-align: right;}
.box-right ul.description { text-align: right; }
.box-right .view {
  background: url(../images/view.png) no-repeat left center;
  text-align: right;
}
.box-right .view:hover {
  background: url(../images/view_hover.png) no-repeat left center;
}

.box-left { float:left; margin-left: 3.5rem; }
.box-left aside { float:right;}
.box-left .tags { text-align: right;}
.box-left .view {
  background: url(../images/view.png) no-repeat right center;
}
.box-left .view:hover {
  background: url(../images/view_hover.png) no-repeat right center;
}


/* Resume */
section article.resume {
  overflow: auto;
  margin-bottom: 2em;
}
.resume h3 { 
  font-weight: 400;
  border-bottom: 2px solid #fff;
  margin: 1rem 3.5rem;
}
.resume .item, .resume h3 {
 color: #fff;  
 font-family: 'Fira Mono', 'sans-serif';
 letter-spacing: 0.15rem;
}
.resume ul { width: 70%; padding-left: 0;}
.resume li:last-child {
  margin-bottom: 0;
}
.resume .left {
}
.resume .right {
  display: inline-block;
  float:right;
}
.resume .item { 
 margin-bottom: 0.5rem;
}
.resume .description { 
 color: #73725f;
 letter-spacing: 0.1rem;
 margin-bottom: 2.5rem;
}

/* Contact Info */
.contact-info {
  margin-right: 3.5rem;
}
.contact-info aside {
  float: left;
  width: 45%;
}
.contact-info aside p {
  color: #73725f;
  font-size: 1rem;
  padding-left: 3.5rem;
  line-height: 2rem;
  width: 40%;
}
.contact-info .form-container {
  color: #fff;
  float: left;
  width: 55%;
  border-top: 2px solid #fff;
}
.form-container input, .form-container textarea { 
  color: #fff;
  font-size: 1rem;
  font-family: 'Fira Mono', 'sans-serif';
  background: #bbd1d7;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fff;
}
.form-container input {
  line-height: 4rem;
}
.form-container textarea {
  line-height: 2rem;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #fff;
}
.form-container input:focus, .form-container textarea:focus {
  outline: none;
  border-bottom: 2px solid #73725f;
}
.contact-info input, .contact-info textarea { width: 100%;}

.form-submit {
  border-bottom: 2px solid #fff;
  letter-spacing: 0.15rem;
  text-align: right;
}
.send {
  background: url(../images/send.png) no-repeat center right;
}
.send:hover {
  background: url(../images/send_hover.png) no-repeat center right;
}
.form-submit a {
  display: inline-block;
  color: #fff;
  line-height: 4rem;
  padding-right: 3rem;
  text-decoration: none;
}
.form-submit a:hover {
  color: #73725f;
}
.back-to-top {
  background: url(../images/back_to_top.png) no-repeat center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 4.5rem;
  bottom: 4.5rem;
}
.back-to-top:hover {
  background: url(../images/back_to_top_hover.png) no-repeat center;
}

/* Remove margin from last articles*/
section article.last, section.last {
  margin-bottom: 0;
}

/** Project page **/
section.project {
  margin: 2rem;
}
.project-img {
  text-align: center;
  margin: 2em 0;
}
.project-top-img img {
  width: 100%;
}
.project-info h1 {
  font-size: 3rem;
}
.project-info .tags, .project-info .subtitle {
  font-family: 'Fira Mono', sans-serif;
  margin-bottom: 0.5rem;
}
.project-info .tags a:hover {
  color: #73725f;
}
.project-info p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 2rem 0 2rem 3.5rem;
}
